[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pysam = ">=0.15"
matplotlib = "*"
click = "*"
seaborn = "*"
cython = "*"

[dev-packages]
bumpversion = "==0.5.3"
watchdog = "==0.8.3"
tox = "*"
coverage = "==4.5.1"
sphinx = "==1.7.0"
pytest = "*"
pytest-runner = "==2.11.1"
nose = "*"
jupyter = "*"
pistis = {editable = true,path = "."}
black = "*"

[pipenv]
allow_prereleases = true
